*.a
*.app
asn1_compiler
*.bak
bin2c
.bundle
colors.css
conf
.config
config*
conmakehash
coverage
devicetable-offsets.h
*.dll
doc/
docproc
.DS_Store
dtc
dtc-lexer.lex.c
dtc-parser.tab.c
dtc-parser.tab.h
*.dylib
elfconfig.h
*.exe
fixdep
gconf
gconf.glade.h
*.gem
genheaders
genksyms
*.hash.c
ihex2fw
InstalledFiles
kallsyms
kxgettext
*.lex.c
*.lib
lib/bundler/man
*.log
lxdialog
mconf
mdp
mk_elfconfig
*.mo
*.moc
modpost
nconf
*.o
*.out
pkg
pnmtologo
*.pot
.pronsolerc
*.pyc
qconf
*.rbc
rdoc
recordmcount
sites/*/files
sites/*/private
sites/*/settings*.php
*.so
*.so.*
sortextable
spec/reports
/src/languages/
*.tab.c
*.tab.h
*.tar.gz
test/tmp
test/version_tmp
tmp
/tmp/*
!/tmp/.gitkeep
unifdef
.vagrant
/vendor
_yardoc
.yardoc
zconf.hash.c
